---
import "@/styles/globals.css";

interface Props {
    titulo: string;
    descripcion: string;
    imagen: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { titulo, descripcion, imagen } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{titulo}</title>
        <meta name="title" content={titulo} />
        <meta name="description" content={descripcion} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={titulo} />
        <meta property="og:description" content={descripcion} />
        <meta property="og:image" content={new URL(imagen, Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={titulo} />
        <meta property="twitter:description" content={descripcion} />
        <meta property="twitter:image" content={new URL(imagen, Astro.url)} />
    </head>
    <body>
        <slot />
    </body>
</html>
